<div class="container-flud">
    <mat-card class="main-card hide-mob ">
        <div class="row title">
            <div class="col-12 col-sm-6 maintitle">
                <mat-icon style="color: rgb(250, 139, 75); cursor: pointer;" (click)="reloadPage()" matTooltip="Reload"
                    matTooltipPosition="below">keyboard_backspace</mat-icon>
                <span class="page-heading">/ Complaint ( {{ Title }} ) </span>

            </div>
        </div>

        <div class="eventimg mt-4 hide-mob">
            <img src="../../../assets/images/R.jfif" alt="image is not available" height="300px">
        </div>

        <div class="row mt-4">
            <div class="col-12 col-sm-3 col-lg-12">
                <!-- <label class="page-sub-title-main mb-3"> Regional Festival :</label> -->
            </div>
            <mat-divider></mat-divider>
            <div class="col-4 col-sm-3 col-lg-2 mt-3">
                <label class="page-sub-title mb-3">Complaint Name :</label>
            </div>
            <div class="col-8 col-sm-9 col-lg-4 mt-3">
                <span class="title-data"> {{ Title }} </span>
            </div>


            <div class="col-4 col-sm-3 col-lg-2 mt-3">
                <label class="page-sub-title mb-3">Type :</label>
            </div>
            <div class="col-8 col-sm-9 col-lg-4 mt-3">
                <span class="title-data"> {{ Type }} </span>
            </div>

            <div class="col-4 col-sm-3 col-lg-2">
                <label class="page-sub-title mb-3">Status :</label>
            </div>
            <div class="col-8 col-sm-9 col-lg-4">
                <span class="title-data"> {{ Status }} </span>
            </div>

            <div class="col-4 col-sm-3 col-lg-2">
                <label class="page-sub-title mb-3">Ward Name :</label>
            </div>
            <div class="col-8 col-sm-9 col-lg-4">
                <span class="title-data"> {{ Ward }} </span>
            </div>

            <div class="col-4 col-sm-3 col-lg-2">
                <label class="page-sub-title mb-3">Name :</label>
            </div>
            <div class="col-8 col-sm-9 col-lg-4">
                <p class="title-data">{{ Name }}</p>
            </div>

            <div class="col-4 col-sm-3 col-lg-2">
                <label class="page-sub-title mb-3">Comment :</label>
            </div>
            <div class="col-8 col-sm-9 col-lg-4">
                <p class="title-data">{{ Comment }}</p>
            </div>


            <div class="col-4 col-sm-3 col-lg-2">
                <label class="page-sub-title mb-3">Date :</label>
            </div>
            <div class="col-8 col-sm-9 col-lg-4">
                <p class="title-data">{{ Date | date: 'dd/MM/yyyy'}}</p>
            </div>

            <form class="example-form row" [formGroup]="updateComplaintForm"
                (ngSubmit)="updateComplaint(updateComplaintForm.value)">
                <div class="col-4 col-sm-3 col-lg-2">
                    <label class="page-sub-titles mb-3">Category :</label>
                </div>
                <div class="col-8 col-sm-9 col-lg-4">
                    <mat-form-field class="example-full-width title-data" appearance="legacy">
                        <!-- <mat-label>Select Category</mat-label> -->
                        <mat-select formControlName="CategoryId" (selectionChange)="onCategoryChange($event.value)">
                            <mat-option>--select State--</mat-option>
                            <mat-option *ngFor="let category of categories" [value]="category.CategoryId">
                                {{ category.En_Name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>


                <div class="col-4 col-sm-3 col-lg-2">
                    <label class="page-sub-titles mb-3">Sub-Category :</label>
                </div>
                <div class="col-8 col-sm-9 col-lg-4">
                    <mat-form-field class="example-full-width" appearance="legacy">
                        <!-- <mat-label>Select Sub-Category</mat-label> -->
                        <mat-select formControlName="SubCategoryId">
                            <mat-option>--Select Sub-Category--</mat-option>
                            <mat-option *ngFor="let subCategory of subCategories" [value]="subCategory.SubCategoryId">
                                {{ subCategory.En_Name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-4 col-sm-3 col-lg-2">
                    <label class="page-sub-titles mb-3">Status :</label>
                </div>
                <div class="col-8 col-sm-9 col-lg-4">
                    <mat-form-field class="example-full-width" appearance="legacy">
                        <!-- <mat-label>Select Sub-Category</mat-label> -->
                        <mat-select formControlName="StatusId">
                            <mat-option>--Select Status--</mat-option>
                            <mat-option *ngFor="let status of Statu" [value]="status.StatusId">
                                {{ status.En_Name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </form>
            <div class="col-12">
                <mat-divider></mat-divider>
            </div>

        </div>
    </mat-card>


    <!-- --------------------------------------------Mobile View----------------------------------------- -->

    <div class="row title show-mob">
        <div class="col-12 col-sm-6 maintitle">
            <mat-icon style="color: rgb(250, 139, 75); cursor: pointer;" (click)="reloadPage()" matTooltip="Reload"
                matTooltipPosition="below">keyboard_backspace</mat-icon>
            <span class="page-heading">/ Complaint ( {{ Title }} )</span>
        </div>
    </div>

    <div class="row mt-4 show-mob">
        <div class="col-12 col-sm-3 col-lg-12">
            <!-- <mat-icon>keyboard_backspace</mat-icon> -->
            <!-- <label class="page-sub-title-main mb-3"> Regional Festival :</label> -->
        </div>

        <img src="../../../assets/images/R.jfif">

        <ng-container>
            <mat-card>

                <mat-card-header>
                    <mat-card-title class="DetailsHeader"> {{ Title }} </mat-card-title>
                </mat-card-header>

                <mat-divider class="divider"></mat-divider>

                <mat-card-content>
                    <div class="col-12 mt-3">
                        <label class="page-sub-title mb-3">Complaint Name :</label>
                        <span class="title-data"> {{ Title }} </span>
                    </div>

                    <div class="col-12">
                        <label class="page-sub-title mb-3">Type :</label>
                        <span class="title-data"> {{ Type }} </span>
                    </div>

                    <div class="col-12">
                        <label class="page-sub-title mb-3">Status :</label>
                        <span class="title-data"> {{ Status }} </span>
                    </div>

                    <div class="col-12">
                        <label class="page-sub-title mb-3">Ward Name :</label>
                        <span class="title-data"> {{ Ward }} </span>
                    </div>

                    <div class="col-12">
                        <label class="page-sub-title mb-3">Name :</label>
                        <span class="title-data"> {{ Name }} </span>
                    </div>

                    <div class="col-12">
                        <label class="page-sub-title mb-3">Comment :</label>
                        <span class="title-data"> {{ Comment }} </span>
                    </div>

                    <div class="col-12">
                        <!-- <label class="page-sub-title mb-3">Name :</label> -->
                        <span class="page-sub-title mb-"> {{ Date | date: 'dd/MM/yyyy' }} </span>
                    </div>

                    <!-- <mat-card-content>
                        <div class="col-12 title-datades">
                            <p>{{ Description }}</p>
                        </div>
                    </mat-card-content> -->
                    <mat-card-footer class="card-footer"></mat-card-footer>
                </mat-card-content>


            </mat-card>
        </ng-container>
    </div>
    <!-- </mat-card> -->
</div>